/* stylelint-disable */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
  margin-top: 50px;
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
.nothing{
  font-size: 22px;
  font-weight: 700;
  margin: auto;

  @media (max-width:$tablet-width){
    font-size: 16px;
  }
}
.hidden {
  display: none;
}
.hidden-slow{//Плавное исчезновение
  visibility: hidden;
  opacity: 0;
}

.hide {
  display: none !important;
}

.slick-slide {
  outline: none;
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: 0.25s;
  // overflow: visible;
}

.react-slidedown {
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.select-component{
  position: relative;
  width: 100%;
  .select-arrow svg{
    transform: rotate(-180deg);
  }

  .checkboxes {
    padding: 30px 26px 26px;
    // display: none;
    transition: all 0.3s;
    // opacity: 0;
    // visibility: hidden;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(134, 134, 134, 0.35);
    max-height: 320px;
    overflow-y: auto;

    
    &--active {
      opacity: 1;
      visibility: visible;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-corner {
      display: none;
    }
    label {
      display: flex;
      justify-content: space-between;
      padding-top: 14px;
      padding-bottom: 14px;  
      align-items: center;
      cursor: pointer;

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }

    

    .text {
      order: 1;
    }

    
  }
  
  &.active{
    .select-arrow svg{
      transform: rotate(0);
      stroke: #000;
    }

   
  }
  &.multi{
    .check{
      display: block;
    }
  }

  .check {
    order: 2;
    position: relative;
    content: '';
    display: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: #fff;

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $primary-pink;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  input[type='checkbox'] {
    display: none;
  }

  input:checked+.check::after {
    opacity: 1;
  }
}
.container-details{
  max-width: 1360px;
  margin: auto;
  padding: 0 20px;
}
.sign-up-btn{
  @media(max-width: 1359px){
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// loading block
.wrap-loading{
  width: 100%;
}
.wrap-loading.verical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ring {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e2e1e1 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
